USE [master]
GO
/****** Object:  Database [RoadConstructionDB]    Script Date: 22.05.2026 4:28:40 ******/
CREATE DATABASE [RoadConstructionDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RoadConstructionDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RoadConstructionDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RoadConstructionDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\RoadConstructionDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RoadConstructionDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RoadConstructionDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 22.05.2026 4:28:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Deliveries]    Script Date: 22.05.2026 4:28:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deliveries](
	[DeliveryId] [int] IDENTITY(1,1) NOT NULL,
	[MaterialId] [int] NOT NULL,
	[Quantity] [decimal](10, 2) NOT NULL,
	[DeliveryDate] [datetime] NOT NULL,
	[SupplierId] [int] NOT NULL,
	[BatchNumber] [nvarchar](100) NULL,
	[CertificateDate] [datetime] NULL,
	[CertificateNumber] [nvarchar](100) NULL,
	[Manufacturer] [nvarchar](200) NULL,
	[Notes] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[DeliveryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialMovements]    Script Date: 22.05.2026 4:28:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialMovements](
	[MovementId] [int] IDENTITY(1,1) NOT NULL,
	[MaterialId] [int] NOT NULL,
	[Quantity] [decimal](10, 2) NOT NULL,
	[MovementType] [nvarchar](50) NOT NULL,
	[MovementDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MovementId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 22.05.2026 4:28:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[MaterialId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Unit] [nvarchar](20) NOT NULL,
	[CostPerUnit] [decimal](10, 2) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[CurrentStock] [decimal](10, 2) NULL,
	[Density] [decimal](8, 3) NULL,
	[Fraction] [nvarchar](50) NULL,
	[Gost] [nvarchar](100) NULL,
	[MaterialTypeId] [int] NULL,
	[FinenessModule] [nvarchar](50) NULL,
	[FrostResistance] [nvarchar](50) NULL,
	[Leshchadness] [nvarchar](50) NULL,
	[Notes] [nvarchar](500) NULL,
	[RadioactivityClass] [nvarchar](20) NULL,
	[ShelfLifeDays] [int] NULL,
	[StorageType] [nvarchar](50) NOT NULL,
	[StrengthGrade] [nvarchar](50) NULL,
	[WaterResistance] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialTypes]    Script Date: 22.05.2026 4:28:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialTypes](
	[MaterialTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[DefaultUnit] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__MaterialTypes] PRIMARY KEY CLUSTERED 
(
	[MaterialTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 22.05.2026 4:28:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](500) NOT NULL,
	[Type] [nvarchar](50) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[MaterialId] [int] NULL,
	[ProjectId] [int] NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectMaterials]    Script Date: 22.05.2026 4:28:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectMaterials](
	[ProjectMaterialId] [int] IDENTITY(1,1) NOT NULL,
	[ProjectId] [int] NOT NULL,
	[MaterialId] [int] NOT NULL,
	[PlannedQuantity] [decimal](10, 2) NOT NULL,
	[UsedQuantity] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectMaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projects]    Script Date: 22.05.2026 4:28:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projects](
	[ProjectId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Budget] [decimal](15, 2) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QualityChecks]    Script Date: 22.05.2026 4:28:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QualityChecks](
	[QualityCheckId] [int] IDENTITY(1,1) NOT NULL,
	[MaterialId] [int] NOT NULL,
	[DeliveryId] [int] NULL,
	[CheckDate] [datetime] NOT NULL,
	[BatchNumber] [nvarchar](100) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[InspectorName] [nvarchar](100) NULL,
	[TestResults] [nvarchar](1000) NULL,
	[Comments] [nvarchar](500) NULL,
 CONSTRAINT [PK__QualityChecks] PRIMARY KEY CLUSTERED 
(
	[QualityCheckId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 22.05.2026 4:28:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[SupplierId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[ContactPerson] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 22.05.2026 4:28:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK__Users__1788CC4C148AA2E5] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Users__5E55825B6FF0D7AF] UNIQUE NONCLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Materials_MaterialTypeId]    Script Date: 22.05.2026 4:28:40 ******/
CREATE NONCLUSTERED INDEX [IX_Materials_MaterialTypeId] ON [dbo].[Materials]
(
	[MaterialTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_QualityChecks_DeliveryId]    Script Date: 22.05.2026 4:28:40 ******/
CREATE NONCLUSTERED INDEX [IX_QualityChecks_DeliveryId] ON [dbo].[QualityChecks]
(
	[DeliveryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_QualityChecks_MaterialId]    Script Date: 22.05.2026 4:28:40 ******/
CREATE NONCLUSTERED INDEX [IX_QualityChecks_MaterialId] ON [dbo].[QualityChecks]
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Materials] ADD  DEFAULT ((0)) FOR [CurrentStock]
GO
ALTER TABLE [dbo].[Materials] ADD  DEFAULT (N'Открытый') FOR [StorageType]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProjectMaterials] ADD  DEFAULT ((0)) FOR [UsedQuantity]
GO
ALTER TABLE [dbo].[QualityChecks] ADD  DEFAULT (getdate()) FOR [CheckDate]
GO
ALTER TABLE [dbo].[QualityChecks] ADD  DEFAULT (N'На проверке') FOR [Status]
GO
ALTER TABLE [dbo].[Deliveries]  WITH CHECK ADD  CONSTRAINT [FK__Deliverie__Mater__47DBAE45] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materials] ([MaterialId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Deliveries] CHECK CONSTRAINT [FK__Deliverie__Mater__47DBAE45]
GO
ALTER TABLE [dbo].[Deliveries]  WITH CHECK ADD  CONSTRAINT [FK__Deliverie__Suppl__48CFD27E] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
GO
ALTER TABLE [dbo].[Deliveries] CHECK CONSTRAINT [FK__Deliverie__Suppl__48CFD27E]
GO
ALTER TABLE [dbo].[MaterialMovements]  WITH NOCHECK ADD  CONSTRAINT [FK__MaterialM__Mater__5535A963] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materials] ([MaterialId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MaterialMovements] CHECK CONSTRAINT [FK__MaterialM__Mater__5535A963]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK__Materials__MaterialType] FOREIGN KEY([MaterialTypeId])
REFERENCES [dbo].[MaterialTypes] ([MaterialTypeId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK__Materials__MaterialType]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK__Materials__Suppl__403A8C7D] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Suppliers] ([SupplierId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK__Materials__Suppl__403A8C7D]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Materials] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materials] ([MaterialId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Materials]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Projects] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([ProjectId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Projects]
GO
ALTER TABLE [dbo].[ProjectMaterials]  WITH CHECK ADD  CONSTRAINT [FK__ProjectMa__Mater__4F7CD00D] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materials] ([MaterialId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectMaterials] CHECK CONSTRAINT [FK__ProjectMa__Mater__4F7CD00D]
GO
ALTER TABLE [dbo].[ProjectMaterials]  WITH CHECK ADD  CONSTRAINT [FK__ProjectMa__Proje__4E88ABD4] FOREIGN KEY([ProjectId])
REFERENCES [dbo].[Projects] ([ProjectId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProjectMaterials] CHECK CONSTRAINT [FK__ProjectMa__Proje__4E88ABD4]
GO
ALTER TABLE [dbo].[QualityChecks]  WITH CHECK ADD  CONSTRAINT [FK__QualityChecks__Delivery] FOREIGN KEY([DeliveryId])
REFERENCES [dbo].[Deliveries] ([DeliveryId])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[QualityChecks] CHECK CONSTRAINT [FK__QualityChecks__Delivery]
GO
ALTER TABLE [dbo].[QualityChecks]  WITH CHECK ADD  CONSTRAINT [FK__QualityChecks__Material] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Materials] ([MaterialId])
GO
ALTER TABLE [dbo].[QualityChecks] CHECK CONSTRAINT [FK__QualityChecks__Material]
GO
ALTER TABLE [dbo].[Deliveries]  WITH CHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[MaterialMovements]  WITH NOCHECK ADD CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[MaterialMovements]  WITH NOCHECK ADD  CONSTRAINT [CK_MaterialMovements_MovementType] CHECK  (([MovementType]='Расход' OR [MovementType]='Поступление'))
GO
ALTER TABLE [dbo].[MaterialMovements] CHECK CONSTRAINT [CK_MaterialMovements_MovementType]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD CHECK  (([CostPerUnit]>=(0)))
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD CHECK  (([CurrentStock]>=(0)))
GO
ALTER TABLE [dbo].[ProjectMaterials]  WITH CHECK ADD CHECK  (([PlannedQuantity]>(0)))
GO
ALTER TABLE [dbo].[ProjectMaterials]  WITH CHECK ADD CHECK  (([UsedQuantity]>=(0)))
GO
ALTER TABLE [dbo].[Projects]  WITH NOCHECK ADD CHECK  (([Budget]>=(0)))
GO
ALTER TABLE [dbo].[Projects]  WITH CHECK ADD  CONSTRAINT [CK_Projects_Status] CHECK  (([Status]='Отменен' OR [Status]='Завершен' OR [Status]='В процессе' OR [Status]='Запланирован'))
GO
ALTER TABLE [dbo].[Projects] CHECK CONSTRAINT [CK_Projects_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_Users_Role] CHECK  (([Role]='Гость' OR [Role]='Инженер' OR [Role]='Администратор'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_Users_Role]
GO
USE [master]
GO
